:root {
  --darkBG: #555;
  --lightBG: #aaa; 
  --text: white;
  --lightHighlight: crimson;
  --darkHighlight: darkred;
  --buttonHover: black;
}

html,
body,
main {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  background-color: var(--lightHighlight);
  color: var(--text);
  text-decoration: underline overline;
}

a:hover {
  background-color: var(--buttonHover);
}
